### WAP to find the largest number in a list.

In [19]:
l = [11,1,8,7,6,44]
l.sort()
print('The Largest number is: ',l[-1])

The Largest number is:  44

### WAP to find even and odd number in two diiferent list

In [2]:
l1 = []
l2 = []
s = int(input('Enter a numbers of elements:'))
for i in range(1,s+1):
    b = int(input('Enter a nummber: '))
    if b % 2 == 0:
        l1.append(b)
    else:
        l2.append(b)
print('The even number list is :',l1)        
print('The odd number list is:',l2)

Enter a numbers of elements:4
Enter a nummber: 2
Enter a nummber: 6
Enter a nummber: 7
Enter a nummber: 9
The even number list is : [2, 6]
The odd number list is: [7, 9]

### WAP to merge two lists and sort it

In [54]:
l1 = []
l2 = []
s = int(input('Enter a number of elements:'))
for i in range(1,s+1):
    a = int(input('Enter a element:'))
    l1.append(a)
s1 = int(input('Enter a number of elements:'))
for i in range(1,s1+1):
    b = int(input('Enter a element:'))
    l2.append(b)
l3 = l1 + l2
l3.sort()
print('Sorted list is: ',l3)

Enter a number of elements:3
Enter a element:10
Enter a element:90
Enter a element:50
Enter a number of elements:3
Enter a element:80
Enter a element:70
Enter a element:40
Sorted list is:  [10, 40, 50, 70, 80, 90]

### WAP to sort a list according to the length of the elements.

In [3]:
s = int(input('Enter a number of elements: '))
a =[]
for i in range(1,s+1):
    s1 = input('Enter a element: ')
    a.append(s1)
a.sort(key=len)   
print(a)

Enter a number of elements: 4
Enter a element: ram
Enter a element: gopala
Enter a element: krishna
Enter a element: radha
['ram', 'radha', 'gopala', 'krishna']

### WAP to find the intersection of two lists.

In [7]:
l1= []
l2 = []
l3= []
a = int(input('Enter a number of elements for list1: '))
b = int(input('Enter a number of elements for list2: '))
for i in range(1,a+1):
    p = int(input('Enter elements for list1: '))
    l1.append(p)
for j in range(1,b+1):
    q = int(input('Enter elements for list2: '))
    l2.append(q)
l3= (set(l1) & set(l2))
print(list(l3))

Enter a number of elements for list1: 4
Enter a number of elements for list2: 4
Enter elements for list1: 10
Enter elements for list1: 20
Enter elements for list1: 30
Enter elements for list1: 40
Enter elements for list2: 30
Enter elements for list2: 40
Enter elements for list2: 50
Enter elements for list2: 60
[40, 30]

### WAP to create a list of Tuples with the First element as the number and second element as the square of the number.

In [12]:
a = int(input('Enter a lower range: '))
b = int(input('Enter a upper range: '))
p = [(i,i**2) for i in range(a, b+1)]
print(p)

Enter a lower range: 1
Enter a upper range: 4
[(1, 1), (2, 4), (3, 9), (4, 16)]

### WAP to swap the First and Last Values of a List.

In [13]:
l = []
n = int(input('Enter a number of elements: '))
for i in range(1,n+1):
    a = int(input('Enter a elements: '))
    l.append(a)

print(l)
temp = l[0]
l[0] = l[-1]
l[-1] = temp
print(l)

Enter a number of elements: 5
Enter a elements: 10
Enter a elements: 20
Enter a elements: 30
Enter a elements: 40
Enter a elements: 50
[10, 20, 30, 40, 50]
[50, 20, 30, 40, 10]

### WAP to remove a duplicate values of a list.

In [21]:
l = []
n = int(input('Enter a number of element for list: '))
for i in range(1,n+1):
    a = int(input('Enter a element: '))
    l.append(a)
print(l)
print(list(set(l)))

Enter a number of element for list: 10
Enter a element: 1
Enter a element: 1
Enter a element: 1
Enter a element: 2
Enter a element: 2
Enter a element: 3
Enter a element: 3
Enter a element: 4
Enter a element: 4
Enter a element: 5
[1, 1, 1, 2, 2, 3, 3, 4, 4, 5]
[1, 2, 3, 4, 5]

### WAP to append a list to the second list.

In [23]:
l1 = []
l2 = []
a = int(input('Enter a number of elements for list1: '))
b = int(input('enter a number of elements for list2: '))
for i in range(1,a+1):
    p = int(input('enter a elements for list1: '))
    l1.append(p)
for j in range(1,b+1):
    q = int(input('enter a elements for list1: '))
    l2.append(q)

print(l1+l2)

Enter a number of elements for list1: 3
enter a number of elements for list2: 3
enter a elements for list1: 1
enter a elements for list1: 2
enter a elements for list1: 3
enter a elements for list1: 10
enter a elements for list1: 20
enter a elements for list1: 3
[1, 2, 3, 10, 20, 3]

In [6]:
for i in range(65,70):
    k=i
    for j in range(65,i+1):
        print(chr(k),end='')
        k=k+1
    print()

A
BC
CDE
DEFG
EFGHI

In [ ]:
A
BC
DEF
GHIJ
KLMNO

In [5]:
k = 65
for i in range(1,6):
    for j in range(i):
        print(chr(k),end='') 
        k+=1
    print()

A
BC
DEF
GHIJ
KLMNO

In [8]:
l = []
l1 = []
n = int(input('Enter a range of list:'))
for i in range(1,n+1):
    a = int(input('enter a elements for list: '))
    l.append(a)
print(l) 
for i in l:
    if (i % 2 == 0):
        l1.append(i)
print('The element divisible by 2: ',l1)

Enter a range of list:7
enter a elements for list: 1
enter a elements for list: 2
enter a elements for list: 3
enter a elements for list: 4
enter a elements for list: 5
enter a elements for list: 6
enter a elements for list: 7
[1, 2, 3, 4, 5, 6, 7]
The element divisible by 2:  [2, 4, 6]

In [9]:
l = []
l1 = []
n = int(input('Enter a range of list:'))
for i in range(1,n+1):
    a = int(input('enter a elements for list: '))
    l.append(a)
print(l) 
for i in l:
     if i in l[2:len(l)+1:3]:
        if (i % 2 == 0):
            l1.append(i)
print('The element divisible by 2: ',l1)

Enter a range of list:9
enter a elements for list: 1
enter a elements for list: 2
enter a elements for list: 3
enter a elements for list: 4
enter a elements for list: 5
enter a elements for list: 6
enter a elements for list: 7
enter a elements for list: 8
enter a elements for list: 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
The element divisible by 2:  [6]

### Check if a list contains a fruit 'orange'

In [16]:
f = input('Enter a fruit list:')
l =[]
o = ['orange']
l = f.split()
print(l)
for i in l:
    if i in o:
        print('Yes, List of fruit contain a orange fruit - ',i)
    else:
        print('No,List not containt a orange fruit - ',i)

Enter a fruit list:mango banana pear apple orange kiwi grape
['mango', 'banana', 'pear', 'apple', 'orange', 'kiwi', 'grape']
No,List not containt a orange fruit -  mango
No,List not containt a orange fruit -  banana
No,List not containt a orange fruit -  pear
No,List not containt a orange fruit -  apple
Yes, List of fruit contain a orange fruit -  orange
No,List not containt a orange fruit -  kiwi
No,List not containt a orange fruit -  grape

### Find the index of 1st matching element

In [28]:
s = input('Enter a list of fruits:')
l = s.split()
l1 = l[0]
print(l)
for i in l:
    if i in l1:
        print('Matching element is',i)

Enter a list of fruits:mango banana pear apple mango grapes
['mango', 'banana', 'pear', 'apple', 'mango', 'grapes']
Matching element is mango
Matching element is mango

### Remove all elements from a list from 2 methods

In [33]:
s = eval(input('Enter a list:'))
print(s)
s.pop()
s.pop()
print(s)
s.remove(10)
s.remove(20)
print(s)

Enter a list:[10,20,30,30,40,40,50,50]
[10, 20, 30, 30, 40, 40, 50, 50]
[10, 20, 30, 30, 40, 40]
[30, 30, 40, 40]

### Concatenate two lists from 2 ways

In [42]:
l1 = eval(input('Enter a list:'))
l2 = eval(input('Enter a list:'))
print(l1+l2)
l1.extend(l2)
print(l1)

Enter a list:[1,2,3]
Enter a list:[3,4,5,6,7]
[1, 2, 3, 3, 4, 5, 6, 7]
[1, 2, 3, 3, 4, 5, 6, 7]

### New list with added 1 to every element by using list comprehension

In [44]:
ls = eval(input('Enter a list:'))
print([i+1 for i in ls])

Enter a list:[0,25,50,100]
[1, 26, 51, 101]

### Count the occurrence of a specific object in a list

In [54]:
ls = eval(input('Enter a list'))
print({i:ls.count(i) for i in ls})

Enter a list['fish','dog','fish','dog','cat']
{'fish': 2, 'dog': 2, 'cat': 1}
[2, 2, 2, 2, 1]

### Return a lenght of a list

In [55]:
ls = eval(input("Enter a list:"))
print(len(ls))

Enter a list:['fish','dog','fish','dog','cat']
5

### Check if an element is not in a list

In [60]:
ls = eval(input('Enter a list:'))
l = eval(input('Enter a list:'))
for j in l:
    if j not in ls:
        print(j,'is not element of list',ls)
    else:
        print(j,'is element of list',ls)

Enter a list:[1,2,3,4,5,6,7]
Enter a list:[1,3,9]
1 is element of list [1, 2, 3, 4, 5, 6, 7]
3 is element of list [1, 2, 3, 4, 5, 6, 7]
9 is not element of list [1, 2, 3, 4, 5, 6, 7]

### Multiply every element in alist by 5

In [64]:
ls = eval(input('Enter a numbers in a list:'))
for i in ls:
    print(i*5,end='-')

Enter a numbers in a list:[1,2,3,4,5]
5-10-15-20-25-

###  Insert a value at a specific index in an existing list

In [68]:
ls = eval(input('Enter a list:'))
l = input('Enter a string:')
ls.insert(2,l)
print(ls)

Enter a list:['Manisha','Rakesh','Lipare']
Enter a string:'Anvita'
['Manisha', 'Rakesh', "'Anvita'", 'Lipare']

### Remove elements in a list after a specific index, want only first 1 to 10 numbers

In [72]:
ls = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
for i in ls:
    if i == 11:
        break
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,

In [76]:
ls = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
ls.index(10)
print(ls[:10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Sort a list of integers in ascending and descending order

In [84]:
ls = eval(input('Enter a list of integer numbers:'))
ls.sort()
print(ls)
ls.sort(reverse=True)
print(ls)

Enter a list of integer numbers:[7,11,3,2,9,4,5,7]
[2, 3, 4, 5, 7, 7, 9, 11]
[11, 9, 7, 7, 5, 4, 3, 2]

### Filter even values out of a list with list comprehension

In [85]:
ls = eval(input('Enter a integer number in a list:'))
print([i for i in ls if i % 2 == 0])

Enter a integer number in a list:[1,2,3,4,5,6,7]
[2, 4, 6]

### Filter  odd values out of a list with list comprehension

In [90]:
ls = eval(input('Enter a integer number in a list:'))
print([i for i in ls if i % 2 != 0 ])

Enter a integer number in a list:[1,2,3,4,5,6,7]
[1, 3, 5, 7]

### Filter even and odd values out of a list with list comprehension

In [96]:
ls = eval(input('Enter a integer number in a list:'))
print([f'{i} is even' if i % 2 == 0 else f'{i} is Odd' for i in ls])

Enter a integer number in a list:[1,2,3,4,5,6,7,8,9]
['1 is Odd', '2 is even', '3 is Odd', '4 is even', '5 is Odd', '6 is even', '7 is Odd', '8 is even', '9 is Odd']

### to convert first letter of every word in uppercase

In [12]:
ls = eval(input('Enter a list: '))
m = ' '.join(ls)
n = m.title()
print(n)

Enter a list: ['manu','anvi','sharu']
Manu Anvi Sharu

### Get the first element from each nested list in a list

In [13]:
ls = eval(input('Enter a list of list:'))
for i in ls:
    print(i[0])

Enter a list of list:[[1,2,3],[4,5,6]]
1
4

### Combine elements in a list into a single string

In [15]:
ls = eval(input('Enter a list:'))
m = ' '.join(ls)
print(m)

Enter a list:['The','quick','brown','fox','jumped','over','the','lazy','dog']
The quick brown fox jumped over the lazy dog

### Reverse the list and Return the minimum values in a list

In [22]:
ls = eval(input('Enter a integer numbers in a list:'))
print('Reverse sequence of list:',ls[::-1])
ls.sort(reverse = True)
print('Descending order:',ls)
print('Ascending order:',ls[::-1])
print('Minimum Value in a list:',min(ls))

Enter a integer numbers in a list:[11,7,9,10,4,3,2,5,1,12]
Reverse sequence of list: [12, 1, 5, 2, 3, 4, 10, 9, 7, 11]
Descending order: [12, 11, 10, 9, 7, 5, 4, 3, 2, 1]
Ascending order: [1, 2, 3, 4, 5, 7, 9, 10, 11, 12]
Minimum Value in a list: 1

### Return the sum values in a list with sum function and without sum function

In [32]:
ls = eval(input('Enter a integer number into a list:'))
#print('The sum is:',sum(ls))
sum =0
for i in ls:
    sum+=i
print('The sum are:',sum)

Enter a integer number into a list:[11,7,9,10,4,3,2,5,1,12]
The sum are: 64

### Find the intersection of 2 lists

In [37]:
l1 = eval(input('Enter a list:'))
l2 = eval(input('Enter a list:'))
m = set(l1)
n = set(l2)
p = m.intersection(n)          
print(p)

Enter a list:[1,2,3,4,5]
Enter a list:[3,4,5,6,7]
{3, 4, 5}

In [38]:
l1 = eval(input('Enter a list:'))
l2 = eval(input('Enter a list:'))
for i in l1:
    if i in l2:
        print(i,end=' ')

Enter a list:[1,2,3,4,5]
Enter a list:[3,4,5,6,7]
3 4 5

### Flatten a list of lists with a list comprehensions

In [42]:
ls = eval(input('Enter a list of list:'))
print([i for l in ls for i in l])

Enter a list of list:[[1,2,3],[4,5,6]]
[1, 2, 3, 4, 5, 6]

### Remove empty strings from the list of strings

In [56]:
ls = eval(input('Enter a list:'))
l = ' '.join(ls)
print(l)

Enter a list:["manu","","anvi","","sharu"]
manu  anvi  sharu

In [70]:
list1 = ['a','b',['c',['d','e',['f','g'],'k'],'l'],'m','n']
sub_list = ['h','i','j']
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

### Remove all occurrences of a specific item from a list

In [73]:
ls = [5,10,15,20,25,50,20,30,20]
for i in ls:
    if i == 20:
        pass
    else:
        print(i,end=' ')

5 10 15 25 50 30

In [74]:
ls = [5,10,15,20,25,50,20,30,20]
for i in ls:
    if i != 20:
        print(i,end=' ')

5 10 15 25 50 30

### Combine 2 lists into a dictionary

In [2]:
l1 = eval(input('Enter a list:'))
l2 = eval(input('Enter a list:'))
m = dict(zip(l1,l2))
print(m)

Enter a list:['name','age','place']
Enter a list:['manu',34,'pune']
{'name': 'manu', 'age': 34, 'place': 'pune'}

In [3]:
l1 = eval(input('Enter a list:'))
l2 = eval(input('Enter a list:'))
print({l1[i]:l2[i] for i in range(len(l1))})

Enter a list:['name','age','place']
Enter a list:['manu',34,'pune']
{'name': 'manu', 'age': 34, 'place': 'pune'}